@charset "UTF-8";

body {
    background-color:#F2BEA0;
}
H1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:#F21616;
    text-align:center;
    
    
}
#Suu{
    text-align: center;
    color:#F21616;
    font-size:2em;
    
}
p{
    font-style: italic;
    text-align: justify;
}
#cliente{
   
    padding: 10px;
    color:#000000;
    text-align: center;
    font-size: 1em;
}
img.cliente{
    float:inline-start;
}
main{

 background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgb(206, 128, 128) ;
    width: 600px;
    margin: auto;
}