@charset "UTF-8";

body {
    background-color:#F2BEA0;
}
H1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:#F21616;
    text-align:center;
    
    
}
#Suu{
    text-align: center;
    color:#F21616;
    font-size:2em;
    
}
p{
    font-style: italic;
    text-align: justify;
}
#cliente{
   
    padding: 10px;
    color:#000000;
    text-align: center;
    font-size: 1em;
}
img.direita{
    float: right;
}
img.esquerda{
    float: left;
}
main{
    margin: auto;
    background-color: seashell;
    text-align: center;
    color:#F21616;
    font: arial 20px;
    box-shadow: 5px 5px 5px rgb(206, 128, 128) ;
    width: 600px;
}
p.antes{
    text-align: center;
    font-size: bolder 16px;
    font-family: Arial, Helvetica, sans-serif ;
    font: 1.1em sans-serif;
}